<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
      <!-- -------------------------Google Font CDN --------------------------------------- -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
      <!-- ---------------------------Font Awesome CDN ------------------------------------------ -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <!-- --------------------------------CSS file -------------------------------------------- -->  
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <!------------------------------------------- login form ------------------------------------------- -->
    <section>
      <form action="/signup" method="POST">
        <div class="container">
          <div class="form-elements-container sub_container">
            <div class="logo">
              <img src="/images/img/Avatarbot_logo.jpg" alt="Avatarbot_Png">
            </div>
              <!-- <ul class="inp_container">
                <h1>SIGN up</h1>
                <li>
                    <label class="inp_label" for="input-email"><i class="fa-solid fa-user"></i>&nbsp;Email</label>
                    <input type="email" placeholder="enter your Email" name="email"  id="input-email" required>    
                </li>
                <li>
                  <label class="inp_label" for="input-otp"><i class="fa-solid fa-key"></i> &nbsp;Enter OTP</label>
                  <input type="password" placeholder="Enter OTP" class="input" name="otp" id="input-otp" required>
                  <button type="button" onclick="otpSend()">Send OTP</button>
                </li>
                <li>
                  <label class="inp_label" for="input-password"><i class="fa-solid fa-lock"></i> &nbsp;Password</label>
                  <input type="password" placeholder="Enter Password" class="input" name="password" id="input-password" required>
                </li>
                <li>
                  <button type="submit" class="submit_button" id="login-button">Sign Up </button>
                </li>
                <a href="/">Already have an account? Sign in</a>
              </ul> -->
          </div>
        </div>  
      </form>  
    </section>
</body>
</html>
